/* main.css */

#home-slider .slider-cycle {
  position: absolute;
  right: 600px;
  bottom: 0;
}

.animate-in .slider-cycle {
  -webkit-animation: slideInLeft 4000ms cubic-bezier(0.190,1.000,0.220,1.000) 200ms both;
  animation: slideInLeft 4000ms cubic-bezier(0.190,1.000,0.220,1.000) 200ms both;
}


/* responsive.css */

/* sm */
@media only screen and (max-width : 992px) {
	#home-slider .slider-cycle {
	    right: 350px;
	    bottom: 0;
	    width: 140px;
	}
}

@media only screen and (max-width : 480px) {
	#home-slider .slider-cycle {
		display: none;
	}
}